.text-contain {
    color: blue;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* #btn:hover {
    color: green;
    background-color: rgb(253, 245, 235);
} */

.text-info:hover {
    color: red;
    background-color: rgb(253, 245, 235);
    font-family: Arial, Helvetica, sans-serif;

}